/* graphs */
.gridList{
    margin-left: 2.5%;
    margin-bottom: 1%;
    width: 95%;
}
.blackGrid {
    background-color: black;
}
.whiteGrids {
    background-color: white;
    height: fit-content;
    padding-bottom: 20px;
}