.cardsgohere {
    height: 50%;
    width: 50%;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
}
mat-card, #totalDist {
    height: 41%;
    width: 42%;
    background-color:black;
    color: white;
    display: inline-block;
}
mat-card-title, #totalDist {
    font-size: medium;
}
mat-card-content, #totalDist {
    font-size: xx-large
}
mat-card, #maxSpeed {
    height: 41%;
    width: 42%;
    background-color: white;
    color: black;
    display: inline-block;
}
mat-card-title, #maxSpeed {
    font-size: medium;
}
mat-card, #totalHours {
    height: 41%;
    width: 42%;
    background-color: white;
    color: black;
    display: inline-block;
}
mat-card-title, #totalHours {
    font-size: medium;
}
mat-card, #totalCons {
    height: 41%;
    width: 42%;
    background-color: black;
    color: white;
    display: inline-block;
}
mat-card-title, #totalCons {
    font-size: medium;
}
#cardIcon {
    height: 100px;
    width: 100px;
    margin-left: 70%;
}
/* graphs */
.engineHoursGraph {
    background-color: black;
    height: 50%;
    width: 46%;
    margin-left: 10px;
    display: inline-block;
}
.maxSpeedGraph {
    background-color: black;
    height: 50%;
    width: 46%;
    margin-left: 2.5%;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 20px;
}
.totalDistanceGraph {
    background-color: white;
    height: 50%;
    width: 50%;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 20px;
}
/* this keeps cards spaced right, somehow  */
mat-card, #filters {
    width: 50%;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    vertical-align: top;
}
