<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">Sidenav
    <button mat-button (click)="sidenav.close()">Close</button>
  </mat-sidenav>

  <mat-sidenav-content> 
<!-- cards -->
    <mat-toolbar>
      <button mat-button (click)="sidenav.open()">Open</button>
      <span>Company name</span>
      <span>Total vehicles</span>
    </mat-toolbar>
     

   
    <mat-card id="totalDistance">
      <mat-card-header>Total Distance</mat-card-header>
      <mat-card-content>40000 km</mat-card-content>
    </mat-card>
    
    <mat-card id="maxSpeed">
      <mat-card-header>Max Speed</mat-card-header>
      <mat-card-content>116 km/h</mat-card-content>
    </mat-card>

    <mat-card id="totalHours">
      <mat-card-header>Total Hours</mat-card-header>
      <mat-card-content>10h 40min</mat-card-content>
    </mat-card>
    
    <mat-card id="totalConsumed">
      <mat-card-header>Total Consumed</mat-card-header>
      <mat-card-content>40000 L</mat-card-content>
    </mat-card>

    <!-- table  -->

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-sidenav-content>
</mat-sidenav-container>