<mat-sidenav-container>
    <!-- sidenav  -->
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">Sidenav<br/>
      Dash<br/>
      Rentals<br/>
      Demos<br/>
    </mat-sidenav>
  
    <mat-sidenav-content> 
  
  <!-- toolbar -->
      <mat-toolbar>
        <button mat-button (click)="sidenav.toggle()">Toggle</button>
        <span>Company name</span>
        <span>Total vehicles</span>
      </mat-toolbar>
       
  <!-- cards -->
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile> 
        <mat-card id="totalDistance">
        <mat-card-header>Total Distance</mat-card-header>
        <mat-card-content>40000 km</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card id="maxSpeed">
            <mat-card-header>Max Speed</mat-card-header>
            <mat-card-content>116 km/h</mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
         <mat-card id="totalHours">
    <mat-card-header>Total Hours</mat-card-header>
    <mat-card-content>10h 40min</mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card id="totalConsumed">
            <mat-card-header>Total Consumed</mat-card-header>
            <mat-card-content><b>40000</b> L</mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

     
      <!-- table  -->
      <h1>All Vehicles</h1>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- ID -->
        <ng-container matColumnDef="vehicleID">
          <mat-header-cell *matHeaderCellDef> Vehicle ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.vehicleID}} </mat-cell>
        </ng-container>
      
        <!-- type -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
      
        <!-- l/100km -->
        <ng-container matColumnDef="l100">
          <mat-header-cell *matHeaderCellDef> L/100km </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.l100}} </mat-cell>
        </ng-container>
      
        <!-- km/L -->
        <ng-container matColumnDef="kml">
          <mat-header-cell *matHeaderCellDef> km/L </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.kml}} </mat-cell>
        </ng-container>
  
        <!-- Odometer  -->
        <ng-container matColumnDef="odometer">
          <mat-header-cell *matHeaderCellDef> Final CAN Odometer </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.odometer}} </mat-cell>
        </ng-container>
  
    
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
    </mat-sidenav-content>
  </mat-sidenav-container>