<mat-sidenav-container>
  <!-- sidenav  -->
    <mat-sidenav #sidenav mode="side" >
      <!-- user profile still has to go here  -->
      <mat-nav-list>

        <a mat-list-item  [routerLink]="'/dashboard'" > 
          <mat-icon svgIcon="dash" id="sidenavIcon" class="material-icons"></mat-icon> 
          <span class="navigation-item-label">Dashboard </span>
        </a>
        <a mat-list-item [routerLink]="'/demos'"> 
          <mat-icon svgIcon="demoAct" id="sidenavIcon"  class="material-icons"></mat-icon> 
          <span class="navigation-item-label">Demo Vehicles </span>
        </a>
        <a mat-list-item [routerLink]="'/rentals'">  
          <mat-icon svgIcon="rentals" id="sidenavIcon" class="material-icons"></mat-icon>
          <span class="navigation-item-label">Rental Vehicles</span>
         </a>
       
  
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> 

<!-- toolbar -->
    <mat-toolbar>
      <button mat-button (click)="sidenav.toggle()"><mat-icon svgIcon="sidenav" id="toggleNav"></mat-icon></button>
      <span>Babcock</span>
      <span class="example-spacer"></span>
      <span float="right">Total vehicles</span>
      <!-- <mat-icon svgIcon="totalCars"></mat-icon> -->
    </mat-toolbar>

<!-- search and filters -->

<mat-card id="search-bar">

  <!-- search goes here -->
  <!-- <mat-icon svgIcon="searchicon"></mat-icon> -->
  <mat-form-field color="warn" class="search-form">
   
    <mat-label>Search For A Vehicle</mat-label>
    <input matInput>
  </mat-form-field>
  
</mat-card>
<mat-card id="filters">
  <mat-card-content style="font-size: 16px;">
    <mat-form-field class="filter-form" color="warn" style="margin-right: 24px">
      <mat-label style="color:whitesmoke">Choose A Start Date</mat-label>
        <input matInput  [matDatepicker]="myDatepicker" [min]="minDate">
        <mat-datepicker-toggle style="color:whitesmoke" matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker color="warn"></mat-datepicker>

      </mat-form-field>
      <mat-form-field class="filter-form" color="warn" style="margin-right: 24px">
        <mat-label  style="color:whitesmoke">Choose An End Date</mat-label>
          <input matInput  [matDatepicker]="myDatepicker2" [min]="minDate">
          <mat-datepicker-toggle  style="color:whitesmoke" matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2 color="warn"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="filter-form" color="warn">
          <mat-label  style="color:whitesmoke">Filter by Type</mat-label>
          <mat-select  style="color:whitesmoke">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-card-content>
  </mat-card>
       
     
<!-- cards -->


   <mat-card id="totalDist">
     <mat-card-title>
      Distance
      <mat-icon id="cardIcon" svgIcon="distance"></mat-icon>
    </mat-card-title>
    <mat-card-content>
       <b>40000</b>km
    </mat-card-content>
    </mat-card>
  
 
    <mat-card id="maxSpeed">
      <mat-card-title>
        Max. Speed
        <mat-icon id="cardIcon" svgIcon="speed"></mat-icon>
     
     </mat-card-title>
     <mat-card-content>
        <b>116</b>km/h
     </mat-card-content>
     </mat-card>
  
     <mat-card id="totalCons">
      <mat-card-title>
       Total Consumed
       <mat-icon id="cardIcon" svgIcon="consumed"></mat-icon>
      
     </mat-card-title>
     <mat-card-content>
        <b>40000</b>L
     </mat-card-content>
     </mat-card>
 
    <mat-card id="totalHours">
      <mat-card-title>
    Total Hours

        <mat-icon id="cardIcon" svgIcon="time"></mat-icon>
     </mat-card-title>
     <mat-card-content>
        <b>10</b>h <b>40</b>min
     </mat-card-content>
     </mat-card>  
    
<!-- table  -->
    <h1>All Demo Vehicles</h1>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID -->
      <ng-container matColumnDef="vehicleID">
        <mat-header-cell *matHeaderCellDef> Vehicle ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.vehicleID}} </mat-cell>
      </ng-container>
    
      <!-- type -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
      </ng-container>
    
      <!-- l/100km -->
      <ng-container matColumnDef="l100">
        <mat-header-cell *matHeaderCellDef> L/100km </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.l100}} </mat-cell>
      </ng-container>
    
      <!-- km/L -->
      <ng-container matColumnDef="kml">
        <mat-header-cell *matHeaderCellDef> km/L </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.kml}} </mat-cell>
      </ng-container>

      <!-- Odometer  -->
      <ng-container matColumnDef="odometer">
        <mat-header-cell *matHeaderCellDef> Final CAN Odometer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.odometer}} </mat-cell>
      </ng-container>

      <!-- Icon  -->
      <ng-container matColumnDef="icon">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
           <mat-cell *matCellDef="let element"><mat-icon >{{element.icon}}</mat-icon></mat-cell>
        </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-sidenav-content>
</mat-sidenav-container>