 
<!-- graphs  -->

<div class="perCarGraph">
    <canvas 
        baseChart   
        [datasets]="perCarData"
        [labels]="perCarLabels"
        [options]="perCarOptions"
        [legend]="perCarLegend"
        [chartType]="perCarType">
    </canvas>
</div>

<div class="perTypeGraph">
        <canvas 
        baseChart       
        [datasets]="perTypeData"
        [labels]="perTypeLabels"
        [options]="perTypeOptions"
        [legend]="perTypeLegend"
        [chartType]="perTypeType">
    </canvas>
</div>
<div class="perDayGraph">
    <canvas 
        baseChart
        [datasets]="perDayData"
        [labels]="perDayLabels"
        [options]="perDayOptions"
        [legend]="perDayLegend"
        [chartType]="perDayType">
    </canvas>
</div>
  
