/* graphs */
.perCarGraph{
    background-color: black;
    height: 95%;
    width: 95%;
}
.perTypeGraph{
    background-color: white;
    height: 95%;
    width: 95%;
}
.perDayGraph{
    background-color: white;
    height: 95%;
    width: 95%;
}
.gridList{
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    width: 95%;
}